<?xml version='1.0' encoding='utf-8'?>
<widget id="com.opennexo.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>test</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <preference name="phonegap-version" value="cli-8.0.0" />
    <content src="index.html" />
    <access origin="*" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~7.0.2">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Para escanear código de barra y QR" />
    </plugin>
</widget>
